name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: "ci"

jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - run: pnpm install

      - run: pnpm format:check

      - run: pnpm build

  python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: scripts
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version-file: "scripts/.python-version"

      - uses: astral-sh/setup-uv@v7

      - run: uv run ruff check

      - run: uv run ruff format --check

      - run: uv run python validate_satellites.py
